sudo: required

language: generic

services:
  - docker

before_install:
  - echo "start Creating an image with dockerfile"
  - docker build -t blue3197/docker-react-app -f Dockerfile.dev .
  - echo "end Creating an image with dockerfile"

script:
  - echo "start running tests"
  - docker run -e CI=true blue3197/docker-react-app npm run test -- --coverage
  - echo "end running tests"

after_success:
  - echo "Test Success"

deploy:
  provider: elasticbeanstalk
  region: 'ap-northeast-2'
  app: 'docker-react-app'
  env: ' Dockerreactapp-env'
  bucket_name: 'elasticbeanstalk-ap-northeast-2-269214693384'
  bucket_path: 'docker-react-app'
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
