# name: Docker Image CI

# on:
#   push:
#     branches: ['main']
#   pull_request:
#     branches: ['main']

# jobs:
#   build-and-test:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout Code
#         uses: actions/checkout@v2
#       - name: Build and test the Docker image
#         run: |
#           echo "start Creating an image with dockerfile"
#           docker build -t blue3197/docker-react-app -f Dockerfile.dev .
#           echo "end Creating an image with dockerfile"
#           echo "start running tests"
#           docker run blue3197/docker-react-app npm run test -- --coverage
#           echo "end running tests"
#           echo "Test Success"
